@font-face
{
    font-family: Dizhitl;
    src: url('../fonts/dizhitl-regular.ttf') format('truetype');
}

:root
{
    --about-vert: 30vw;
    --about-hor: 30vh;
}

body 
{
    background-image: url('content/graytrees3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: Dizhitl;
    overflow: hidden;
}

.titlecard
{
    background-color: #F3F3F3;
    height: -15vw;
    width: 50vw;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.titlecard p
{
    margin: 10px;
}

h1
{
    font-family: Dizhitl;
    font-style: initial;
    font-weight: 500;
    font-size: 2em;
    margin: 0;
}

.about-button-outline
{
    position: absolute;
    bottom: -1vh;
    left: -1vw;
    width: 0;
    height: 0;
    border-top: 40vh solid transparent;
    border-left: 30vw solid white;
    border-bottom: 40vh solid white;
    border-right: 30vw solid transparent;
}

.about-button-inside
{
    position: absolute;
    bottom: -40vh;
    left: -30vw;
    width: 0;
    height: 0;
    border-top: 33.3vh solid transparent;
    border-left: 25vw solid red;
    border-bottom: 33.3vh solid red;
    border-right: 25vw solid transparent;
}

.landing-buttons h1
{
    position: absolute;
    text-align: center;
    font-size: 3em;
    bottom: -3.5em;
    left: -4em;
    line-height: 1em;
    color: #F3F3F3;
}

.landing-buttons section
{
    transition: 0.2s ease-in-out;
}

.landing-buttons section:hover
{
    transform: translate(1vw, -1vh);
}

